body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(230, 223, 223);
}

.head {
    display: flex;
}

.left {
    height: 27%;
    width: 15%;
    /* border: 2px solid red; */
    margin: -24px 12px;
}

.mid {
    display: flex;
    /* border: 2px solid green; */
    position: absolute;
    right: 2%;
    width: 45%;
}

.nav {
    display: flex;
}

.nav a {
    padding: 7px 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: immi-five-o-five, sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all 0.3s;
}

.nav a:hover {
    background-color: rgba(88, 85, 85, 0.233);
    border-radius: 4px;
}

.web {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: right;
    position: absolute;
    right: 7%;
    top: 12%;
    width: 50%;
    height: 74%;
}

.web img {
    display: flex;
    width: 94%;
    height: 113%;
}

.text {
    /* border: 2px solid rgb(255, 230, 0); */
    width: 42%;
    height: 57%;
    display: flex;
    position: absolute;
    bottom: 15%;
    left: 5%;
    flex-direction: column;
    padding: 7px 15px;
    margin: 9px 8px;
}

h2 {
    font-family: arvo, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 40px;
    font: bold;
}

.text p {
    padding: 5px 3px;
    margin: -13px 4px;
    font-family: tekton-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}

#btn {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 120px;
    position: absolute;
    bottom: 50%;
    left: 20px;
    padding: 10px 5px;
    margin: -24px 0px;
    border-radius: 8px;
    box-shadow: 1px 2px 13px -2px black;
    transition: all 0.2s;
}

#btn:hover {
    cursor: pointer;
    transform: scale(0.9);
}

.icon {
    /* border: 2px solid orangered; */
    height: 45%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 31%;
    right: 1%;
}

.icon img {
    width: 35px;
    padding: 20px;
    transition: all 0.3s;
}

.icon img:hover {
    cursor: pointer;
    transform: scale(1.2);
}